/* CSS pour titre de la page : Entreprise Division */
#title {
  position:relative; 
  left:150px;
  color:cornsilk;
}
/* Affichage du logo dans le coin haut a droite avec bordure noir */
#logo {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 3px black groove;
  float: right;
}
/* Sous-titres */
#t1, #t2, #t3 {
  background-color: rgb(161, 161, 212);
  max-width: 50%;
  margin: 2px;
  border: #ddd;
  border-width: 4px; 
  border-style: solid;
  font-family:"calibri", serif;
}
/* Le body de jeu.html, plan.html, index.html et ressources.html utiliseront le meme style. */
body {
  background-color: rgb(173, 109, 181)
}
/* CSS pour les deux images qui decrivent le site web */
#img1 {
  position: absolute;
  right: 10px;
  top: 120px;
}
#img2 {
  position: absolute;
  right: 10px;
  top: 230px;
}
/* Boite de texte fonctionnement et mission */
#description, #mission, #fondateurs {
  width: 450px;
  border: 3px black groove;
  font-family: Georgia;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.1px;
  word-spacing: 1px;
  background-color: rgb(221, 210, 210);
}
/* Place la barre de naviguation fixé au bas de la page. */
.navbar {
  background-color: #333;
  overflow: hidden;
  position:fixed;
  bottom: 0;
  width: 100%;
}

/* Style pour les sites dans la barre de naviguation. */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Ajout de couleur lors du hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
/*Ajout de couleur une fois une page web selectionnee*/
.navbar a.active {
  background-color: steelblue;
  color: white;
}
/*Image de l'organigramme devait effectuer une rotation pour pouvoir etre du bon cote*/
#organigramme {
  webkit-transform: rotate(270deg);
  moz-transform: rotate(270deg);
  o-transform: rotate(270deg);
  ms-transform: rotate(270deg);
  transform: rotate(270deg);
}