/*Couleur de l'arriere-plan de la page web*/
body {
  background-color: rgb(173, 109, 181);
}
/* H2/Titre de la page place au centre de la page */
h2 {
  text-align: center;
}
/* Style des elements dans la boite de la question 1 */
#bienvenueJeu {
  align-content: center;
  align-items: center;
  text-align: center;
  font-family: "calibri", serif;
}
/* Logo Paul-D emplacement sur la page web */
#imgPaulD {
  position: absolute;
  right: 10px;
  top: 100px;
}
/* Ajoute la couleur bleu au texte qui apparait comme onclick sur soumettre */
#q1reponq1 {
  color: rgb(111, 221, 221);
}
#q2reponq1 {
  color: rgb(111, 221, 221);
}
#q3reponq1 {
  color: rgb(111, 221, 221);
}
#q4reponq1 {
  color: rgb(111, 221, 221);
}
#q5reponq1 {
  color: rgb(111, 221, 221);
}
/* Si l'utilisateur soumet une mauvaise reponse, ce code change la couleur du texte apparait indiquant "Mauvaise reponse. Votre pointage est 0", en rouge. */
#mauvRep {
 color: red;
}
#q2mauvRep {
 color: red;
}
#q3mauvRep {
 color: red;
}
#q4mauvRep {
 color: red;
}
#q5mauvRep {
 color: red;
}
/* Si l'utlisateur soumet une bonne reponse, le texte apparait en vert grace a ce code. */
#bonneRep {
  color: green;
}
#q2bonneRep {
  color: green;
}
#q3bonneRep {
  color: green;
}
#q4bonneRep {
  color: green;
}
#q5bonneRep {
  color: green;
}
/* Style du texte qui apparait comme onclick apres avoir soumis les deux nombres a inserer dans l'equation. */
input[type=number] {
  color: blue;
  height: 30px;
  font-family: Courier New;
  font-size: 14px;
  text-align: center;
  background-color: rgb(35, 114, 145);
  font-weight: bold;
  text-shadow: 1px 1px #180606;
}
/* */
input[type=number]::-webkit-outer-spin-button { 
opacity: 3;
}
/* Style pour "Question 1" */
#titreq1 {
  color: rgb(111, 221, 221);
  font-family: "calibri", serif;
  margin: auto;
}
/* Style et emplacement de la boite contenant les directives du jeu. */
.instructions {
  display: inline block;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px; 
  width: 200px;
  height: 183px;
  border-style: solid;
  text-align: center;
  margin-bottom: 5px;
}
/* Style et emplacement des informations retrouvees dans la boite de la question 1 */
.boiteQ1 {
  margin-left: 5px;
  margin-right: 5px;
  border: 2px; 
  width: 200px;
  height: 190px;
  border-style: solid;
  text-align: center;
  margin-bottom: 5px;
  background-color: rgb(77, 53, 133);
  color: rgb(111, 221, 221);
}
/* Grandeur de l'ecriture de la question. */
#boitequestion {
  font-size: 13px;
    background-color: rgb(77, 53, 133);
}
/* Margin qui separe la question de les autres informations et la boite. */
#questionOperation {
  margin-top: 15px;
    background-color: rgb(77, 53, 133);

}
/* CSS pour la 3e boite*/
#operationcss {
  display: inline block;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px; 
  width: 200px;
  height: 230px;
  border-style: solid;
  text-align: center;
  margin-bottom: 5px;
  background-color: rgb(77, 53, 133);
  color: rgb(111, 221, 221);
}
/* Titre dans la 3e boite */
#optitre {
  font-size: 20px;
  font-family: Roboto;
  color: rgb(111, 221, 221);
}
/* Placement des choix multiples */
#optext {
  text-align: left;
  font-family: Roboto;
}
#gamelink {
border: 3px black groove;
 text-align: center;
   align-items: center;
   align-content: center;
   width: 200px;
margin: auto;
padding: auto;
position: relative;
}
#btnQ1 , #btn2Q1 , #btnQ2 , #btn2Q2 , #affichepoint {
            background-color: blueviolet;
          color: white;
          padding: 5px 6px;
          text-align: center;
          display: inline-block;
          font-size: 16px;
          font-family: Roboto;
          margin: 4px 2px;
          cursor: pointer;
}
#sizerep {
  font-size: 20px;
  font-family: Roboto;
}