/*Couleur de l'arriere-plan de la page web*/
body {
  background-color: rgb(173, 109, 181);
}
/* H2/Titre de la page place au centre de la page */
h2 {
  text-align: center;
}
/* Style des elements dans la boite de la question 1 */
#bienvenueJeu {
  align-content: center;
  align-items: center;
  text-align: center;
  font-family: "calibri", serif;
}
/* Logo Paul-D emplacement sur la page web */
#imgPaulD {
  position: absolute;
  right: 10px;
  top: 100px;
}
/* Ajoute la couleur bleu au texte qui apparait comme onclick sur soumettre */
#reponq1 {
  color: rgb(44, 44, 139);
}
/* Si l'utilisateur soumet une mauvaise reponse, ce code change la couleur du texte apparait indiquant "Mauvaise reponse. Votre pointage est 0", en rouge. */
#mauvRep {
 color: red;
}
/* Si l'utlisateur soumet une bonne reponse, le texte apparait en vert grace a ce code. */
#bonneRep {
  color: green;
}
/* Style du texte qui apparait comme onclick apres avoir soumis les deux nombres a inserer dans l'equation. */
input[type=number] {
  color: blue;
  height: 30px;
  font-family: Courier New;
  font-size: 14px;
  text-align: center;
  background-color: rgb(73, 185, 230);
  font-weight: bold;
  text-shadow: 1px 1px #180606;
}
/* */
input[type=number]::-webkit-outer-spin-button { 
opacity: 3;
}
/* Style pour "Question 1" */
#titreq1 {
  color: black;
  font-family: "calibri", serif;
  margin: auto;
}
/* Style et emplacement de la boite contenant les directives du jeu. */
.instructions {
  display: inline block;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px; 
  width: 200px;
  height: 183px;
  border-style: solid;
  text-align: center;
  margin-bottom: 5px;
}
/* Style et emplacement des informations retrouvees dans la boite de la question 1 */
.boiteQ1 {
  margin-left: 5px;
  margin-right: 5px;
  border: 2px; 
  width: 200px;
  height: 190px;
  border-style: solid;
  text-align: center;
  margin-bottom: 5px;
}
/* Grandeur de l'ecriture de la question. */
#boitequestion {
  font-size: 13px;
}
/* Margin qui separe la question de les autres informations et la boite. */
#questionOperation {
  margin-top: 15px;
}
/* CSS pour la 3e boite*/
#operationcss {
  display: inline block;
  margin-left: 5px;
  margin-right: 5px;
  border: 2px; 
  width: 200px;
  height: 215px;
  border-style: solid;
  text-align: center;
  margin-bottom: 5px;
}
/* Titre dans la 3e boite */
#optitre {
  font-size: 20px;
  font-family: Roboto;
}
/* Placement des choix multiples */
#optext {
  text-align: left;
}